*,
*::before,
*::after {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
}
html{
  box-sizing: border-box;
  font-size: 62.5%;
}
.checkout{
  opacity:0;
  position: absolute;
  width: 292px;
  cursor:pointer;
  height: 51px;top:0;
}